#### Data Engineering Exercise 1: Pandas 
The Parking Citation Dataset is a puplic dataset collecting millions of records information about parking tickets for a county in California. We only selected a million of this data for us to work with in this assignment. You can see the whole dataset here: https://data.lacity.org/Transportation/Parking-Citations/wjz9-h9np/data

In this exercise we want you to Extract data, Transform and/or clean data, and then Save it as a new file. Steps are:

    1. Extract CSV and Json file and append these files into a Pandas DataFrame.
    2. Remove the spaces from column headers
    3. Change data types
    4. Check if a column has any digits in its values
    5. Write a function to check if a column only has "Alphabet" values
    6. Write a function to check if a column only has "Numberic" values
    7. Add a column "Distance_to_pointA", calculating the distance between each point and point A
    8. Handle duplicates
    9. Drop columns with 70% missing values
    10. Remove a few records based on a condition 
    11. Fill missing values for a column
    12. Split a column into severl coulmns 
    13. Extract the "Issue_year" of  "Issue_Date" column and save it as a new column "Issue_year" as an integer type.
    14. Save the final modified dataframe into a partitioned parquet file! If you are not able to save it as a parquet file, go ahead and save it as a csv file. 


Here are some resources that you may need: 

    Pandas =  https://pandas.pydata.org/docs/reference/general_functions.html
    Numpy = https://numpy.org/doc/stable/reference/index.html


Good luck!

##### IMPORTS

In [27]:
import pandas as pd
import numpy as np

##### 1. Complete the below function to Extract CSV and Json file and Append these file to a Pandas DataFrame:
- csv file: parking_citation_sample.csv
- Json file: parking_citation_add.json

In [28]:
df_pandas = pd.DataFrame(
    columns=['Ticket number', 'Issue Date', 'Issue time', 'Meter Id', 'Marked Time',
   'RP State Plate', 'Plate Expiry Date', 'VIN', 'Make', 'Body Style',
   'Color', 'Location', 'Route', 'Agency', 'Violation code',
   'Violation Description', 'Fine amount', 'Latitude', 'Longitude',
   'Agency Description', 'Color Description', 'Body Style Description'])

In [31]:
##read the shared folder data into spark dataframe
df0 = pd.read_csv('https://raw.githubusercontent.com/matthewbrennerCGI/Project1Data/main/parking_citation_sample_0.csv')
df1 = pd.read_csv('https://raw.githubusercontent.com/matthewbrennerCGI/Project1Data/main/parking_citation_sample_1.csv')
df2 = pd.read_csv('https://raw.githubusercontent.com/matthewbrennerCGI/Project1Data/main/parking_citation_sample_2.csv')
df3 = pd.read_csv('https://raw.githubusercontent.com/matthewbrennerCGI/Project1Data/main/parking_citation_sample_3.csv')
df4 = pd.read_csv('https://raw.githubusercontent.com/matthewbrennerCGI/Project1Data/main/parking_citation_sample_4.csv')
df_csv = pd.concat([df0, df1,df2,df3,df4])
# Drop the first column, and append it to pandas dataframe
df_csv = df_csv.iloc[: , 1:]

In [ ]:
df_pandas

In [ ]:
df_pandas.shape

Out[12]: (0, 22)

In [ ]:
df_csv.shape

Out[11]: (833311, 23)

In [ ]:
#Append
df_pandas = df_pandas.append(df_csv)

In [ ]:
df_pandas.shape

Out[14]: (833311, 23)

In [ ]:
print(type(df_csv))

In [39]:
def extract_data():
    df_pandas = pd.DataFrame(
        columns=['Ticket number', 'Issue Date', 'Issue time', 'Meter Id', 'Marked Time',
       'RP State Plate', 'Plate Expiry Date', 'VIN', 'Make', 'Body Style',
       'Color', 'Location', 'Route', 'Agency', 'Violation code',
       'Violation Description', 'Fine amount', 'Latitude', 'Longitude',
       'Agency Description', 'Color Description', 'Body Style Description'])
    
    ##read the shared folder data into spark dataframe
    df0 = pd.read_csv('https://raw.githubusercontent.com/matthewbrennerCGI/Project1Data/main/parking_citation_sample_0.csv')
    df1 = pd.read_csv('https://raw.githubusercontent.com/matthewbrennerCGI/Project1Data/main/parking_citation_sample_1.csv')
    df2 = pd.read_csv('https://raw.githubusercontent.com/matthewbrennerCGI/Project1Data/main/parking_citation_sample_2.csv')
    df3 = pd.read_csv('https://raw.githubusercontent.com/matthewbrennerCGI/Project1Data/main/parking_citation_sample_3.csv')
    df4 = pd.read_csv('https://raw.githubusercontent.com/matthewbrennerCGI/Project1Data/main/parking_citation_sample_4.csv')
    df_csv = pd.concat([df0, df1,df2,df3,df4])
    # Drop the first column, and append it to pandas dataframe
    df_csv = df_csv.iloc[: , 1:]
    df_pandas = df_pandas.append(df_csv)

    # read and append json

    df_json = pd.read_json('https://raw.githubusercontent.com/matthewbrennerCGI/Project1Data/main/parking_citation_add.json')
    df_json = df_json.iloc[: , 1:]
    df_pandas = df_pandas.append(df_json)
    
    df_pandas = df_pandas.replace('', np.nan)
        
    return df_pandas

df_pandas = extract_data()
print('Shape of Data: '+ str(df_pandas.shape))

C:\Users\JARED~1.GOD\AppData\Local\Temp/ipykernel_29612/708241215.py:30: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  df_pandas = extract_data()

Shape of Data: (833341, 23)

##### 2. Remove the spaces from column headers and replace it with underline:

In [3]:
# Make a copy to work with
df=df_pandas.copy()

In [4]:
# remove spaces in columns name
df.columns = df.columns.str.replace(' ','_')

In [5]:
# Confirm rename
df.head(3)

,Ticket_number,Issue_Date,Issue_time,Meter_Id,Marked_Time,RP_State_Plate,Plate_Expiry_Date,VIN,Make,Body_Style,...,Agency,Violation_code,Violation_Description,Fine_amount,Latitude,Longitude,Agency_Description,Color_Description,Body_Style_Description,Unnamed:_0.1
0,1103341116,12/21/2015,1251.0,NaN,NaN,CA,200304.0,NaN,HOND,PA,...,1.0,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0,NaN,NaN,NaN,0.0
1,1103700150,12/21/2015,1435.0,NaN,NaN,CA,201512.0,NaN,GMC,VN,...,1.0,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0,NaN,NaN,NaN,1.0
2,1104803000,12/21/2015,2055.0,NaN,NaN,CA,201503.0,NaN,NISS,PA,...,2.0,8939,WHITE CURB,58.0,6439997.9,1802686.4,NaN,NaN,NaN,2.0

##### 3. Change data types for (Ticket_number, Issue_Date ) columns into (string, datetime) respectively

In [6]:
df.dtypes

Ticket_number              object
Issue_Date                 object
Issue_time                float64
Meter_Id                   object
Marked_Time               float64
RP_State_Plate             object
Plate_Expiry_Date         float64
VIN                       float64
Make                       object
Body_Style                 object
Color                      object
Location                   object
Route                      object
Agency                    float64
Violation_code             object
Violation_Description      object
Fine_amount               float64
Latitude                  float64
Longitude                 float64
Agency_Description        float64
Color_Description         float64
Body_Style_Description    float64
Unnamed:_0.1              float64
dtype: object

In [8]:
df['Ticket_number'].sample(50)

120602    4280153150
53890     4279335970
71090     4277664941
163268    4282731445
105490    4279976385
47429     4274696274
21090     1106476372
149825    4280500652
37276     4277757061
17890     4278804353
165670    4280699113
136963    1112198290
77409     4279628544
129207    4282283762
14576     4278731041
97781     4278241925
4366      4278481513
38493     4274392205
94871     4275298064
82459     4281701082
37912     4279118863
110663    4282044686
94273     4281842574
134102    4275683543
136005    4276641563
25012     4277320036
77175     4279626201
43992     4277273906
103016    4281948451
20710     4275748735
80523     4274831050
25775     4278935614
97863     4281887245
101468    4274978396
93011     4279831382
59684     4281420220
74515     4274619005
119134    4280135996
126854    1109400703
36831     4279104141
58049     4276261754
139174    1112762814
25552     4278929885
66603     4274822941
131291    4282309710
100793    4276351796
25760     4274547513
38152     4277888090
128561    4274616964
96528     4281870692
Name: Ticket_number, dtype: object

In [15]:
# Convert  (Ticket_number, Issue_Date ) columns into (string, datetime) and confirm
df['Ticket_number'] =df['Ticket_number'])
df['Issue_Date'] = pd.to_datetime(df['Issue_Date'])
df.dtypes

ValueError: Unable to parse string "1107495524D" at position 456378

Error with a D as part of a ticket number - assume `D=0` like OCR issue - replace

In [26]:
# Replace 1107495524D with 11074955240

df[df['Ticket_number']=='1107495524D']

Empty DataFrame
Columns: [Ticket_number, Issue_Date, Issue_time, Meter_Id, Marked_Time, RP_State_Plate, Plate_Expiry_Date, VIN, Make, Body_Style, Color, Location, Route, Agency, Violation_code, Violation_Description, Fine_amount, Latitude, Longitude, Agency_Description, Color_Description, Body_Style_Description, Unnamed:_0.1]
Index: []

[0 rows x 23 columns]

In [23]:
# Replace value

df['Ticket_number'] = df['Ticket_number'].replace(['1107495524D'],'11074955240', inplace = True)

In [38]:
df.replace(to_replace ='1107495524D',
           value ='11074955240',
           inplace=True)

In [37]:
# Confirm

#df[df['Ticket_number']=='1107495524D']

df[df['Ticket_number']=='11074955240']

Empty DataFrame
Columns: [Ticket_number, Issue_Date, Issue_time, Meter_Id, Marked_Time, RP_State_Plate, Plate_Expiry_Date, VIN, Make, Body_Style, Color, Location, Route, Agency, Violation_code, Violation_Description, Fine_amount, Latitude, Longitude, Agency_Description, Color_Description, Body_Style_Description, Unnamed:_0.1]
Index: []

[0 rows x 23 columns]

In [22]:
# Re run datatype conversion

df['Ticket_number'] =pd.to_numeric(df['Ticket_number'])
df['Issue_Date'] = pd.to_datetime(df['Issue_Date'])
df.dtypes

ValueError: Unable to parse string "1107495535D" at position 456379

##### 4. Check if a column has any digits in its values. Return the rows where this is true. Check for column "Violation_Description". 
e.g. 17104h --> True,     WHITE CURB --> False

In [ ]:
my_col = 'Violation_Description'

def has_digit(df, my_col):
    
    *** WRITE YOUR CODE TO complete the function ***
    
    return 

has_digit(df_pandas, my_col)

##### 5. Write a function to check if a column only has "Alphabet" values, return the rows where this is not true. Check for "Make" column.

In [ ]:
my_col = 'Make'

def only_alpha(df, my_col):
    
    *** WRITE YOUR CODE TO complete the function ***
    
    return 

only_alpha(df_pandas, my_col)

##### 6. Write a function to check if a column only has "Numberic" values, return the rows where this is not true. Check for TicketNumber column.

In [ ]:
my_col = 'Ticket_number'

def only_number(df, my_col):
    
    *** WRITE YOUR CODE TO complete the function ***
    
    return 

only_number(df_pandas, my_col)

##### 7. Add a column "Distance_to_pointA", collecting the distance between each point and the point A: Ya= 6439997, Xa= 1802686. 
Drop rows with either Nan or values like 99999. 

Note: Parking citations with latitude / longitude (XY) in US Feet coordinates according to the NAD_1983_StatePlane_California_V_FIPS_0405_Feet projection.

In [ ]:
# drop rows with values like 99999 in Latitude and/or Longitude

In [ ]:
# calculate distance between all rows(Longitude/Latitude) and point A (6439997,1802686)

##### 8. Is there any duplicates in dataframe? If yes, print them and then drop them.

##### 9. Find the columns with more than 70% missing values, print them, and then drop them.

In [ ]:
# Find the columns with more than 70% missing values

In [ ]:
# Drop columns with more than 70% missing values

##### 10. Find RP_State_Plates that are not for US, then drop their data.

In [ ]:
# To find the US state abbrevation, you can use State_Abbreviation.xlsx' dataset

##### 11. Almost 4% of Fine_Amount column has missing values, handle these missing values.

In [ ]:
# Use your knowledge to handle the missing values, you need to impute values based on useful information of other columns

##### 12. Split the "Location" column into new columns using SPACE as delimiter. You may need to write a function. The final splitted data should be structured like below (the number of columns may be different):
![address_columns.PNG](attachment:address_columns.PNG)

In [ ]:
def address_sep(df_pandas):
 
    *** WRITE YOUR CODE TO complete the function ***
    return df_pandas

df_pandas = address_sep(df_pandas)

##### 13. Extract the "Issue_year" of  "Issue_Date" column and save it as a new column "Issue_year" as an integer type.

##### 14. Write the pandas dataframe into a Parquet file (cleaned_parking_citations) partition by "Year" column.

In [ ]:
df_pandas.to_parquet(*** WRITE YOUR CODE TO complete the function ***)